<div id="<%= dom_id(movie) %>_duration_form">
  <%= form_with(model: movie, local: false) do |form| %>
    <div class="field">
      <%= form.label :duration %>
      <%= form.text_field :duration %>
    </div>
  <% end %>
</div>
